.mouse {
    display: inline-block;
    width: 120px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 60px;
}
    .mouse > .wheel {
        display: inline-block;
        width: 10px;
        height: 25px;
        margin-top: 40px;
        border-radius: 2px;
        background-color: #fff;
        background-size: cover;
        animation: in-da-house 1.4s linear infinite;
        animation-play-state: running;
    }

    @keyframes in-da-house{
        0% {
            margin-top: 40px;
            opacity: 1;
        }
        100% {
            margin-top: 120px;
            opacity: 0;
        }
    }

        